<html>
    <head>
        <title>
            聊天室 - Test
        </title>
    </head>
    <body>
        
        <div id="data">
            简单的聊天室
        </div>


        <script>

            var socket;

            if( window.WebSocket ){ 
                
                socket = new WebSocket("ws://localhost:8080/ws"); 

                socket.onmessage = ( event )=>{
                    document.getElementById("data").innerHTML += "<br>" + event.data;
                    console.log(event);
                };

                socket.onopen = (evnet)=>{
                    console.log(event);
                    alert("连接打开");
                };

                socket.onclose = (event) => {
                    alert("联机关闭");
                };
            }

        </script>
    </body>
</html>